{% extends 'layout.html.jinja' -%}

{% block content -%}
<p class="info">There are {{ store_count }} stores</p>

<ul id="store-list">
{% for store in store_list %}
    <li>
        <em>{{ store.name }}</em> <small>({{ store.postcode }})</small>
        <p>Latitude={{ store.latitude }}, Longitude={{ store.longitude }}</p>
    </li>
{% endfor -%}
</ul>
{% endblock -%}