{% extends 'layout.html.jinja' -%}

{% block content -%}
{% if postcode: %}
<h2>Search for '{{postcode}}'</h2>
{% else -%}
<h2>Search</h2>
{% endif -%}

{% if problem: -%}
<p class='info' id='problem'>{{problem}}</p>
{% endif -%}

<div id='search-results'>
{% if other_origins -%}
    <ul id="store-list">
    {% for other in other_origins -%}
        <li><em><a href='/search?postcode={{other.postcode|urlencode}}'>{{other.name}}</a></em> ({{other.postcode}})</li>
    {% endfor -%}
    </ul>
{% endif %}

{% if origin: -%}
    <h3 class='info'>Found origin {{origin.name}}</h3>

    <ul id="store-list">
    {% for found in found_stores -%}
        <li><em>{{found.store.name}}</em> <small>({{found.store.postcode}})</small></li>
    {% endfor -%}
    </ul>
{% endif -%}
</div>

{% endblock -%}